@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/farcaster-embed.styles.css";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.farcaster-embed-container {
  color: #ffff;
  max-width: 600px;
}

.farcaster-embed-metadata.main-metadata {
  min-height: 48px !important;
  max-height: 48px !important;
}

.farcaster-embed-avatar-link {
  height: 100%;
}

.farcaster-embed-author-avatar {
  width: 100%;
  height: 100%;
}

.farcaster-embed-image-container {
  justify-content: center;
}

.custom-frame {
  margin: 1rem 0 !important;
}

.custom-frame input {
  color: #111;
  background: transparent;
  border: transparent;
  font-size: 0.9rem;
  padding: 0.2rem 0;
  border-bottom: 1px solid #ffffff78 !important;
  border-radius: 0px !important;
  margin: 0 0.6rem;
}

.custom-frame button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background: linear-gradient(to right, #3a3aeb, #1515aa);
  gap: 0.3rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .farcaster-embed-container {
    width: 600px !important;
  }
}
